body {
    background: #dddddd;
    border-color: #dddddd;
    color: #777777;
    margin: 0px;
}

.navbar {
    border-bottom: 3px solid #cccccc;
}

h1 {
    background: #4aaaa5;
    color: #ffffff;
    margin: 0px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


h2 {
    background: #ffffff;
    color: #4aaaa5;
    clear: both;
    text-align: left;
    border-bottom: 3px solid #cccccc;
    font-family: 'Times New Roman', Times, serif;
}

.imgcontainer {
    height: 200px;
    width: 200px;
    float: left;
    padding: 10px;
 }

 img {
     width: 100%;
 }

 .centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background: #4aaaa5;
    width: 90%;
    padding: 5%;
    text-align: center;
  }

.container {
    background: #ffffff;
}

footer {
    clear: both;
    background: #666666;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 5px solid #4aaaa5;
}